Repository kokuwaio/backstage-entity-validator: changes, and which Woodpecker steps are due for each by the changed paths.
All: build, push, dockerhub

build:
  image: kokuwaio/buildctl:v0.26.3
  settings:
    name: registry.kokuwa.io/kokuwaio/backstage-entity-validator:ci-${CI_PIPELINE_NUMBER}
    auth:
      registry.kokuwa.io:
        username:
          from_secret: kokuwa_io_username
        password:
          from_secret: kokuwa_io_password
    build-args:
  ...

push:
  image: kokuwaio/buildctl:v0.26.3
  settings:
    name:
    - registry.kokuwa.io/kokuwaio/backstage-entity-validator:latest
    - registry.kokuwa.io/kokuwaio/backstage-entity-validator:0.6.3
    - docker.io/kokuwaio/backstage-entity-validator:latest
    - docker.io/kokuwaio/backstage-entity-validator:0.6.3
  ...

dockerhub:
  steps:
    metadata:
      image: kokuwaio/dockerhub-metadata
      settings:
        repository: kokuwaio/backstage-entity-validator
        description-short: A WoodpeckerCI plugin for backstage-entity-validator to lint backstage entities.
        categories:
        - developer-tools
  ...

chore(deps): update kokuwaio/renovate-config-validator docker tag from 42 to 43
  .justfile
  .woodpecker/lint.yaml
Due: none

chore(deps): update docker.io/library/debian:13.3-slim docker digest to 1d3c811
  Dockerfile
Due: build, push

chore(deps): update dependency nodejs/node from v24.13.0 to v24.13.1
  Dockerfile
Due: build, push

fix: changes by node v24.13.1
  Dockerfile
Due: build, push

chore(deps): update dependency nodejs/node from v24.13.1 to v24.14.0
  Dockerfile
Due: build, push

chore(deps): update kokuwaio/markdownlint docker tag from 0.47.0 to 0.48.0
  .justfile
  .woodpecker/lint.yaml
Due: none

chore(deps): update kokuwaio/buildctl docker tag from v0.27.1 to v0.28.0
  .woodpecker/build.yaml
Due: build, push

chore(deps): update kokuwaio/just docker tag from 1.46.0 to 1.47.0
  .justfile
  .woodpecker/lint.yaml
Due: none

chore(deps): update kokuwaio/just docker tag from 1.47.0 to 1.47.1
  .justfile
  .woodpecker/lint.yaml
Due: none

chore(deps): update docker.io/library/debian docker tag from 13.3-slim to 13.4-slim
  Dockerfile
Due: build, push

chore(deps): update kokuwaio/just docker tag from 1.47.1 to 1.48.0
  .justfile
  .woodpecker/lint.yaml
Due: none

chore(deps): update dependency nodejs/node from v24.14.0 to v24.14.1
  Dockerfile
Due: build, push

chore(deps): update kokuwaio/buildctl docker tag from v0.28.0 to v0.28.1
  .woodpecker/build.yaml
Due: build, push

chore(deps): update kokuwaio/just docker tag from 1.48.0 to 1.48.1
  .justfile
  .woodpecker/lint.yaml
Due: none

chore(deps): update kokuwaio/buildctl docker tag from v0.28.1 to v0.29.0
  .woodpecker/build.yaml
Due: build, push

chore(deps): update dependency @roadiehq/backstage-entity-validator from 0.6.3 to 0.7.0
  .woodpecker/build.yaml
  Dockerfile
  README.md
Due: build, push, dockerhub

chore(deps): update kokuwaio/just docker tag from 1.48.1 to 1.49.0
  .justfile
  .woodpecker/lint.yaml
Due: none

chore(deps): update docker.io/library/debian:13.4-slim docker digest to 4ffb3a1
  Dockerfile
Due: build, push

chore(deps): update dependency nodejs/node from v24.14.1 to v24.15.0
  Dockerfile
Due: build, push

chore(deps): update kokuwaio/just docker tag from 1.49.0 to 1.50.0
  .justfile
  .woodpecker/lint.yaml
Due: none

chore(deps): update docker.io/library/debian:13.4-slim docker digest to e02d667
  Dockerfile
Due: build, push

chore(deps): update docker.io/library/debian:13.4-slim docker digest to cedb1ef
  Dockerfile
Due: build, push

chore(deps): update docker.io/library/debian:13.4-slim docker digest to bacd8d9
  Dockerfile
Due: build, push

chore(deps): update docker.io/library/debian:13.4-slim docker digest to 109e2c6
  Dockerfile
Due: build, push

chore(deps): update kokuwaio/just docker tag from 1.50.0 to 1.51.0
  .justfile
  .woodpecker/lint.yaml
Due: none

chore(deps): update docker.io/library/debian docker tag from 13.4-slim to 13.5-slim
  Dockerfile
Due: build, push

chore(deps): update docker.io/library/debian:13.5-slim docker digest to b6e2a15
  Dockerfile
Due: build, push

chore(deps): update dependency nodejs/node from v24.15.0 to v24.16.0
  Dockerfile
Due: build, push

chore(deps): update kokuwaio/buildctl docker tag from v0.29.0 to v0.30.0
  .woodpecker/build.yaml
Due: build, push

chore(deps): update kokuwaio/just docker tag from 1.51.0 to 1.52.0
  .justfile
  .woodpecker/lint.yaml
Due: none

chore(deps): update docker.io/library/debian:13.5-slim docker digest to b6f94ac
  Dockerfile
Due: build, push

chore(deps): update docker.io/library/debian:13.5-slim docker digest to 4e401d9
  Dockerfile
Due: build, push

chore(deps): update dependency nodejs/node from v24.16.0 to v26.3.0
  Dockerfile
Due: build, push

fix: changes by node v26
  .justfile
  Dockerfile
  README.md
Due: build, push, dockerhub

chore(deps): update dependency nodejs/node from v26.3.0 to v26.3.1
  Dockerfile
Due: build, push

chore(deps): update kokuwaio/just docker tag from 1.52.0 to 1.53.0
  .justfile
  .woodpecker/lint.yaml
Due: none

chore(deps): update kokuwaio/buildctl docker tag from v0.30.0 to v0.31.0
  .woodpecker/build.yaml
Due: build, push

chore(deps): update kokuwaio/markdownlint docker tag from 0.48.0 to 0.49.0
  .justfile
  .woodpecker/lint.yaml
Due: none

chore(deps): update docker.io/library/debian:13.5-slim docker digest to 28de087
  Dockerfile
Due: build, push

Path conditions:
  build: any of: .woodpecker/build.yaml, Dockerfile, Dockerfile.dockerignore, entrypoint.sh
  push: any of: .woodpecker/build.yaml, Dockerfile, Dockerfile.dockerignore, entrypoint.sh
  dockerhub: any of: .woodpecker/dockerhub.yaml, README.md
