Repository kokuwaio/backstage-entity-validator: changes, and which Woodpecker steps are due for each by the changed paths.
All: build, push, dockerhub

build:
  image: kokuwaio/buildctl:v0.24.0
  settings:
    name: registry.kokuwa.io/kokuwaio/backstage-entity-validator:ci-${CI_PIPELINE_NUMBER}
    auth:
      registry.kokuwa.io:
        username:
          from_secret: kokuwa_io_username
        password:
          from_secret: kokuwa_io_password
    build-args:
  ...

push:
  image: kokuwaio/buildctl:v0.24.0
  settings:
    name:
    - registry.kokuwa.io/kokuwaio/backstage-entity-validator:latest
    - registry.kokuwa.io/kokuwaio/backstage-entity-validator:0.5.1
    - docker.io/kokuwaio/backstage-entity-validator:latest
    - docker.io/kokuwaio/backstage-entity-validator:0.5.1
  ...

dockerhub:
  steps:
    metadata:
      image: kokuwaio/dockerhub-metadata
      settings:
        repository: kokuwaio/backstage-entity-validator
        description-short: A WoodpeckerCI plugin for backstage-entity-validator to lint backstage entities.
        categories:
        - developer-tools
  ...

chore(deps): update docker.io/library/debian docker tag from 13.0-slim to 13.1-slim
  Dockerfile
Due: build, push

chore(deps): update dependency nodejs/node from v22.19.0 to v24.8.0
  Dockerfile
Due: build, push

feat: reduce size by deleting obsolete files
  .github/README.md
  .justfile
  .woodpecker/lint.yaml
  Dockerfile
  README.md
Due: build, push, dockerhub

chore(deps): update kokuwaio/hadolint docker tag from v2.13.1 to v2.14.0
  .woodpecker/lint.yaml
Due: none

chore(deps): update dependency nodejs/node from v24.8.0 to v24.9.0
  Dockerfile
Due: build, push

chore: add version to readme
  .justfile
  README.md
  renovate.json
Due: dockerhub

chore(deps): update docker.io/library/debian:13.1-slim docker digest to 1caf1c7
  Dockerfile
Due: build, push

chore(deps): update kokuwaio/buildctl docker tag from v0.24.0 to v0.25.0
  .woodpecker/build.yaml
Due: build, push

chore(deps): update kokuwaio/buildctl docker tag from v0.25.0 to v0.25.1
  .woodpecker/build.yaml
Due: build, push

chore(deps): update dependency nodejs/node from v24.9.0 to v24.10.0
  Dockerfile
Due: build, push

chore(deps): update docker.io/library/debian:13.1-slim docker digest to 66b37a5
  Dockerfile
Due: build, push

chore(deps): update dependency nodejs/node from v24.10.0 to v24.11.0
  Dockerfile
Due: build, push

chore(deps): update docker.io/library/debian:13.1-slim docker digest to 9b6ccd2
  Dockerfile
Due: build, push

chore(deps): update docker.io/library/debian:13.1-slim docker digest to 2fc7219
  Dockerfile
Due: build, push

chore(deps): update docker.io/library/debian:13.1-slim docker digest to a347fd7
  Dockerfile
Due: build, push

chore(deps): update kokuwaio/buildctl docker tag from v0.25.1 to v0.25.2
  .woodpecker/build.yaml
Due: build, push

chore(deps): update dependency nodejs/node from v24.11.0 to v24.11.1
  Dockerfile
Due: build, push

chore(deps): update kokuwaio/buildctl docker tag from v0.25.2 to v0.26.0
  .woodpecker/build.yaml
Due: build, push

chore(deps): update docker.io/library/debian docker tag from 13.1-slim to 13.2-slim
  Dockerfile
Due: build, push

chore(deps): update kokuwaio/renovate-config-validator docker tag from 41 to 42
  .woodpecker/lint.yaml
Due: none

chore(deps): update kokuwaio/buildctl docker tag from v0.26.0 to v0.26.1
  .woodpecker/build.yaml
Due: build, push

chore(deps): update docker.io/library/debian:13.2-slim docker digest to 18764e9
  Dockerfile
Due: build, push

chore(deps): update kokuwaio/markdownlint docker tag from 0.45.0 to 0.46.0
  .woodpecker/lint.yaml
Due: none

chore(deps): update kokuwaio/buildctl docker tag from v0.26.1 to v0.26.2
  .woodpecker/build.yaml
Due: build, push

chore(deps): update docker.io/library/debian:13.2-slim docker digest to e711a7b
  Dockerfile
Due: build, push

chore(deps): update dependency nodejs/node from v24.11.1 to v24.12.0
  Dockerfile
Due: build, push

chore(deps): update kokuwaio/markdownlint docker tag from 0.46.0 to 0.47.0
  .woodpecker/lint.yaml
Due: none

chore(deps): update kokuwaio/buildctl docker tag from v0.26.2 to v0.26.3
  .woodpecker/build.yaml
Due: build, push

chore(deps): update docker.io/library/debian:13.2-slim docker digest to 91e29de
  Dockerfile
Due: build, push

chore(deps): update docker.io/library/debian:13.2-slim docker digest to 4bcb9db
  Dockerfile
Due: build, push

chore(deps): update docker.io/library/debian docker tag from 13.2-slim to 13.3-slim
  Dockerfile
Due: build, push

chore(deps): update dependency nodejs/node from v24.12.0 to v24.13.0
  Dockerfile
Due: build, push

chore(deps): update dependency @roadiehq/backstage-entity-validator from 0.5.1 to 0.6.3
  .woodpecker/build.yaml
  Dockerfile
  README.md
Due: build, push, dockerhub

chore(deps): update kokuwaio/yamllint docker tag from v1.37.1 to v1.38.0
  .woodpecker/lint.yaml
Due: none

chore(deps): update kokuwaio/buildctl docker tag from v0.26.3 to v0.27.0
  .woodpecker/build.yaml
Due: build, push

chore(ci): add just file linter
  .justfile
  .woodpecker/lint.yaml
Due: none

chore(readme): add alternatives, offical docker now exists
  README.md
Due: dockerhub

chore(deps): update kokuwaio/buildctl docker tag from v0.27.0 to v0.27.1
  .woodpecker/build.yaml
Due: build, push

chore(deps): update docker.io/library/debian:13.3-slim docker digest to bfc1a09
  Dockerfile
Due: build, push

chore(deps): update docker.io/library/debian:13.3-slim docker digest to f6e2cfa
  Dockerfile
Due: build, push

Path conditions:
  build: any of: .woodpecker/build.yaml, Dockerfile, Dockerfile.dockerignore, entrypoint.sh
  push: any of: .woodpecker/build.yaml, Dockerfile, Dockerfile.dockerignore, entrypoint.sh
  dockerhub: any of: .woodpecker/dockerhub.yaml, README.md
